@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
  --main-color: ;
  --main-font-family: 'Roboto';
  --font-family-logo: 'Raleway';
  --primary-color-txt: #212121;
  --secondary-color-txt: #ffffff;
  --footer-instagram: url(../images/svg/instagra-footer.svg);
  --footer-twtter: url(../images/svg/twitter-footer.svg);
  --footer-facebook: url(../images/svg/facebook-footer.svg);
  --footer-linkendin: url(../images/svg/linkenid-footer.svg);
  --incon-contac-phone: url(../images/svg/teléfono\ inteligente.svg);
  --incon-contac-sobre: url(../images/svg/sobre.svg);
  --equipo-instagram: url(../images/svg/instagram-equipo.svg);
  --equipo-twitter: url(../images/svg/twitter-equipo.svg);
  --equipo-facebook: url(../images/svg/facebook-equipo.svg);
  --equipo-linkendin: url(../images/svg/likenid-equipo.svg);
  --custemer-1: url(../images/svg/clinete-logo1.svg);
  --custemer-2: url(../images/svg/clinete-logo2.svg);
  --custemer-3: url(../images/svg/clinete-logo3.svg);
  --custemer-4: url(../images/svg/clinete-logo4.svg);
  --custemer-5: url(../images/svg/clinete-logo5.svg);
  --custemer-6: url(../images/svg/clinete-logo6.svg);
  --galery-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  font-family: 'Roboto';
  color: var(--primary-color-txt);
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

/* construccion del munu de cabecera*/

#head-section {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: var(--font-family-logo);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  padding-right: 93px;
}

.container {
  max-width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.menu {
  margin: 0;
  padding-left: 50px;
  list-style: none;
  display: flex;
  box-shadow: 0px 3px 0px 0px rgb(236, 236, 236, 0.2);
}

.menu > .item {
  margin-left: 50px;
}

.item-contac {
  justify-content: left;
  margin-left: 50px;
}

/*iconos antes de enlace de contacto en la cabecera de la web*/

.link::before {
  content: var(--incon-contac-sobre);
  margin-right: 10px;
}

.link-phone::before {
  content: var(--incon-contac-phone);
  margin-right: 10px;
}

.item :hover {
  color: #2196f3;
}

.link :hover {
  color: #2196f3;
}

/*imagen principal del index*/
.message-pr {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #2f303a;
}

.message-pr > h1 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.message-pr > button {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* alineacion de carta  horizontal (texto e imagenes)*/
.card-container {
  flex-wrap: wrap;
  padding-top: 94px;
  list-style: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-set {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.card {
  flex-basis: calc((100% - 10px) / 4);
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
}

.card h2 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.card p {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* A que nos dedicamos*/

.img-activite {
  flex-basis: calc((100% - 30px) / 3);
  display: flex;
  margin: auto;
  margin-bottom: 94px;
}

.img-activite > img {
  padding-right: 30px;
}

/* equipo de trabajo*/
.container-team-backgorund {
  background: #f5f4fa;
}
.team-container {
  display: flex;
}

.container-img {
  flex-basis: calc((100% - 10px) / 4);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  margin-right: 23px;
  margin-bottom: 94px;
  margin-top: 50px;
}

.img-team {
  width: 270px;
  height: 260px;
}

/* Programacion pie de pagina */

#contacto {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#datos-contac {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 231px;
  height: 92px;
  padding-left: 10%;
  padding-top: 2%;
  display: grid;
}

#datos-contac p {
  color: var(--secondary-color-txt);
}

.contac-metod-mail {
  flex-direction: column;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.contac-metod-phone {
  flex-direction: column;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
/* redes sociales botones pie de pagina */
.socialred-footer {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  text-align: center;
}

.socialred-footer h3 {
  color: #ffffff;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}

.social-icon-container {
  flex-direction: row;
}

.list-link {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.item .link2 {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.item .footer-social-icon-instagram {
  background-image: var(--footer-instagram);
}
.item .footer-social-icon-twitter {
  background-image: var(--footer-twtter);
}
.item .footer-social-icon-facebook {
  background-image: var(--footer-facebook);
}
.item .footer-social-icon-linkedin {
  background-image: var(--footer-linkendin);
}
.link2:hover {
  background-color: #2196f3;
}

.logo-customers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px 32px;
}
/* Clientes paguina Estudio*/

.set-customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: calc (-1 * 30px);
}

/*programacion de botones pagina portafolio*/

.contaner-button {
  display: flex;
  justify-content: center;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.social-icon-container .link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.container-button > button {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background: #f5f4fa;
  margin-right: 8px;
  margin-top: 106px;
  border: none;
  padding: 6px 22px;
}

.btn-filter:hover {
  cursor: pointer;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* programacion de galeria portafolio */
.gallery-container {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-img {
  position: relative;
  overflow-y: hidden;
}

.p-descripton-royect {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: var(--galery-animation);
  color: var(--secondary-color-txt);
  background-color: rgba(33, 150, 243, 0.9);
}

/* animacion hover galeria portafolio */

.gallery-link:hover .p-descripton-royect {
  transform: translateY(0%);
}
.footer-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.footer-gallery > h2 {
  text-align: left;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-txt);
}
.footer-gallery > p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
/* programacion pagina Estudio*/

.message-pr-study {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/image-study1.jpg);
}

.message-pr-study > h1 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.message-pr-study > button {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.svg-studicrad {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

/*redes sociales etiqueta equipo */

.item .link3 {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.link3:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.item .equipo-social-icon-instagram {
  background-image: var(--equipo-instagram);
}
.item .equipo-social-icon-twittwer {
  background-image: var(--equipo-twitter);
}
.item .equipo-social-icon-facebook {
  background-image: var(--equipo-facebook);
}
.item .equipo-social-icon-linkendin {
  background-image: var(--equipo-linkendin);
}
/* Clientes Regulares pagina Estudio*/

.logo-enterprice {
  height: 372px;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.list-link {
  justify-content: space-between;
}

.item2:hover {
  border-color: #2196f3;
}

.logo-customer:hover {
  fill: #2196f3;
}
